<!--<p>clients works!</p>-->

<!--<a [routerLink]="'/user'">User list</a>-->

<!--<table>-->
<!--  <th>Client Id</th>-->
<!--  <th>Firstname</th>-->
<!--  <th>Lastname</th>-->
<!--  <tr *ngFor="let client of clientList">-->
<!--    <td>{{ client.clientId }}</td>-->
<!--    <td>{{ client.firstName }}</td>-->
<!--    <td>{{ client.lastName }}</td>-->
<!--    <td><a [routerLink]="['/user', client.clientId, '/edit']">Edit</a> | <a [routerLink]="['/delete', client.clientId]>Delete</a></td>-->
<!--  </tr>-->

<!--</table>-->

<p>clients works!</p>

<a [routerLink]="'/user'">User list</a>

<table>
  <thead>
  <tr>
    <th>Client Id</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clientList">
    <td>{{ client.clientId }}</td>
    <td>{{ client.firstName }}</td>
    <td>{{ client.lastName }}</td>
    <td>
      <a [routerLink]="['/user', client.clientId, 'edit']">Edit</a> |
      <a [routerLink]="['/delete', client.clientId]">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
