<!--&lt;!&ndash;<h1>This is routing part</h1>&ndash;&gt;-->

<!--&lt;!&ndash;  <div>this is router-outlet</div>&ndash;&gt;-->



<!--&lt;!&ndash;<router-outlet name="addLoan" />&ndash;&gt;-->

<!--&lt;!&ndash;<router-outlet name="editLoan" />&ndash;&gt;-->

<!--<div [ngClass]="isDarkTheme? 'dark-theme' : 'light-theme'">-->

<!--<p>-->
<!--  <mat-toolbar>-->
<!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--    <span>My App</span>-->
<!--    <span class="example-spacer"></span>-->
<!--    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--      <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
<!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--      <mat-icon>share</mat-icon>-->
<!--    </button>-->
<!--  </mat-toolbar>-->
<!--</p>-->

<!--<mat-card>-->
<!--  <mat-card-content>-->

<!--    <mat-slide-toggle (click)="toggleTheme()">Slide me!</mat-slide-toggle>-->


<!--  </mat-card-content>-->

<!--</mat-card>-->


<!--<router-outlet />-->

<!--</div>-->




<router-outlet></router-outlet>
