<!--<form>-->
<!--  <input type="text" [(ngModel)]="firstname" name="firstname">-->
<!--</form>-->

<!--<div>-->
<!--  {{ firstname }}-->
<!--</div>-->

<form #addCustomerForm="ngForm" (ngSubmit)="addCustomer(addCustomerForm)">
  <input type="text" [(ngModel)]="firstname" name="firstname" required minlength="10">
  <br/>

  <input type="checkbox" [(ngModel)]="terms" name="terms" required> Accept Terms and Conditions
  <br/>

  <select [(ngModel)]="customerType" name="customerType" required>
    <option value="">Select Customer Type</option>
    <option value="1">Premium</option>
    <option value="2">Standard</option>
  </select>
  <br/>

  <button type="submit" [disabled]="!addCustomerForm.valid">Add Customer</button>

  <button class="btn btn-link" (click)="resetForm(addCustomerForm)">Reset Form</button>

  <button class="btn btn-link" (click)="loadValues(addCustomerForm)">Set Form Values</button>


</form>

<div>
  {{ firstname }}
</div>

