<!--<p>loan-types works!</p>-->

<!--<form [formGroup]="addLoanTypesForm">-->
<!--  <div class="form-group">-->
<!--    <label>Loan Name</label>-->
<!--    <input type="text" formControlName="loanName" (keyup)="trackLoanName()">-->
<!--    <div class="text-danger" *ngIf="addLoanTypesForm.get('loanName')?.hasError('required') && addLoanTypesForm.get('loanName')?.touched">Loan name is required</div>-->

<!--    <div class="text-danger" *ngIf="addLoanTypesForm.get('loanName')?.hasError('minlength') && addLoanTypesForm.get('loanName')?.touched">Loan name should be 10 char</div>-->
<!--    <div class="text-danger" *ngIf="addLoanTypesForm.get('loanName')?.hasError('maxlength') && addLoanTypesForm.get('loanName')?.touched">Loan name should not be more than 20 char</div>-->


<!--  </div>-->
<!--  <br />-->
<!--  <div class="form-group">-->
<!--    <label>Loan Type</label>-->
<!--    <input type="text" formControlName="loanType">-->
<!--  </div>-->
<!--  <br />-->
<!--  <div>-->
<!--    <label>Loan Description</label>-->
<!--    <textarea formControlName="loanDescription"></textarea>-->
<!--  </div>-->
<!--  <br />-->

<!--  <tr>-->
<!--    <div class="form-group" formArrayName="users">-->
<!--        <label>Users</label>-->
<!--      <div *ngFor="let control of addLoanTypesForm.controls.users['controls']; let i= index">-->
<!--        <input type="text" [formControlName]="i">-->

<!--      </div>-->
<!--    </div>-->
<!--  </tr>-->

<!--  <button (click)="addLoanType()" [disabled]="!addLoanTypesForm.valid">Add Loan Type</button>-->
<!--  <button (click)="resetForm()">Reset Form</button>-->

<!--</form>-->


<p>loan-types works!</p>

<form [formGroup]="addLoanTypesForm">
  <div class="form-group">
    <label>Loan Name</label>
    <input type="text" formControlName="loanName">
    <!-- Validation messages here -->
  </div>

  <div class="form-group">
    <label>Loan Type</label>
    <input type="text" formControlName="loanType">
  </div>

  <div class="form-group">
    <label>Loan Description</label>
    <textarea formControlName="loanDescription"></textarea>
  </div>

  <div formArrayName="users">
    <div *ngFor="let user of usersControls; let i = index" [formGroupName]="i">
      <label>User {{ i + 1 }}</label>
      <input type="text" formControlName="name">
      <!-- Additional fields for user (age, dept) -->
      <button type="button" (click)="removeUser(i)">Remove</button>
    </div>
    <button type="button" (click)="addUser()">Add User</button>
  </div>

  <button type="button" (click)="addLoanType()" [disabled]="!addLoanTypesForm.valid">Add Loan Type</button>
  <button type="button" (click)="resetForm()">Reset Form</button>
</form>


